<input
  id="bandon-checkbox"
  type="checkbox"
  value="bandon"
  class="appearance-none peer/bandon">
<label
  for="bandon-checkbox"
  class="m-2 p-4 rounded-full bg-blue-100 border-4
  peer-checked/bandon:bg-blue-400
  peer-checked/bandon:border-4
  peer-checked/bandon:border-blue-600 ">
  <img
    class="w-8 h-8 md:w-12 md:h-12"
    src="static/img/bandon.png" alt="nothing here">
</label>
<input
  id="pac-checkbox"
  type="checkbox"
  value="pac"
  class="appearance-none peer/pac">
<label
  for="pac-checkbox"
  class="m-2 p-4 rounded-full bg-blue-100 border-4
  peer-checked/pac:bg-blue-400
  peer-checked/pac:border-4
  peer-checked/pac:border-blue-600 ">
  <img
    class="w-8 h-8 md:w-12 md:h-12"
    src="static/img/pac.png" alt="nothing here">
</label>
<input
  id="trails-checkbox"
  type="checkbox"
  value="trails"
  class="appearance-none peer/trails">
<label
  for="trails-checkbox"
  class="m-2 p-4 rounded-full bg-blue-100 border-4
  peer-checked/trails:bg-blue-400
  peer-checked/trails:border-4
  peer-checked/trails:border-blue-600 ">
  <img
    class="w-8 h-8 md:w-12 md:h-12"
    src="static/img/trails.png" alt="nothing here">
</label>
<input
  id="oldmac-checkbox"
  type="checkbox"
  value="oldmac"
  class="appearance-none peer/oldmac">
<label
  for="oldmac-checkbox"
  class="m-2 p-4 rounded-full bg-blue-100 border-4
  peer-checked/oldmac:bg-blue-400
  peer-checked/oldmac:border-4
  peer-checked/oldmac:border-blue-600 ">
  <img
    class="w-8 h-8 md:w-12 md:h-12"
    src="static/img/oldmac.png" alt="nothing here">
</label>
<input
  id="sheep-checkbox"
  type="checkbox"
  value="sheep"
  class="appearance-none peer/sheep">
<label
  for="sheep-checkbox"
  class="m-2 p-4 rounded-full bg-blue-100 border-4
  peer-checked/sheep:bg-blue-400
  peer-checked/sheep:border-4
  peer-checked/sheep:border-blue-600 ">
  <img
    class="w-8 h-8 md:w-12 md:h-12"
    src="static/img/sheep.png" alt="nothing here">
</label>

