{% extends "layout.html" %}
{% block title %}+Add A Day+{% endblock %}
{% block content %}
  <!-- <div>  -->
  <!--   <button type="button" onclick="window.location.href='{{ url_for('home') }}';"> -->
  <!--     <b>Home</b> -->
  <!--   </button> -->
  <!-- </div> -->
  <div class="flex flex-col justify-center w-full">
    <form action = "{{ url_for('edit', num=row.id) }}" method = "POST">
      <div class="w-1/2 mx-auto">
      <label for="date" class="block mb-2 text-center text-lg font-bold text-gray-900">Date</label>
      <input type="text" name="day" value="{{ row.date }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="use only if not today YYYY-MM-DD"
        required>
      <label for="wage" class="block mb-2 text-center text-lg font-bold text-gray-900">Wage</label>
      <input type="number" name="wage" value="{{ row.wage }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required>
      <label for="bags" class="block mb-2 text-center text-lg font-bold text-gray-900">Bags</label>
      <input type="number" name="bags" value="{{ row.bags }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        step="0.5" 
        required>
  <label for="group" class="block mb-2 text-center text-lg font-bold text-gray-900">Group</label>
  <select id="group" name="group" class="bg-gray-50 border border-gray-300
    text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
    block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
    dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
    dark:focus:border-blue-500" required>
      {% if num == "new" %}
        <option value={{ group.0.group_id }} selected>{{ group.0.name.title() }}</option>
      {% else %}
        <option value={{ row.group_id }} selected>{{ row.name.title() }}</option>
      {% endif %}
      {% for g in group[1:] %}
        <option value={{ g.group_id }}>{{ g.name.title() }}</option>
      {% endfor %}
      </select>
      <div class="flex items-center justify-center">
        {% include "partials/course_inputs.html" %}
      </div>
      <label for="password" class="block mb-2 text-center text-lg font-bold text-gray-900">Password</label>
      <input type="password" name="pw"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="..."
        required>
<button type="submit" class="float-right text-white bg-blue-700
  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
  font-medium rounded-lg text-lg mt-4 px-4 py-2 dark:bg-blue-600
dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </div>



      <!-- <input type="submit" value="submit" /><br> -->

    </form>
  </div>
  <div>
    <button type="button" onclick="window.location.href='{{ url_for('home') }}';">
      <b>Home</b>
    </button>
  </div>
{% endblock %}
