<!doctype html>
<html>
  <head>
    <title>Add/Edit Group</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="grid-container">
      <!-- COLUMN LEFT -->
      <div> 
        <button type="button" onclick="window.location.href='{{ url_for('home') }}';">
          <b>Home</b>
        </button>
      </div>
      <!-- COLUMN CENTER -->
      <div class="">
        <form action = "{{ url_for('create_group', num=num) }}" method = "post">
          <h3>group</h3>
          {% if num != "new" %}
            <h5>{{ row["name"] | upper }}</h5>
          {% endif %}
          <ul>
          {% if people %}
            {% for p in people %} 
              <a href="{{ url_for('person', num=p["id"]) }}">
                <li>{{p["first_name"]}} {{p["last_name"]}}</li>
              </a>
            {% endfor %} 
          {% endif %}
          </ul>
          <div class="grid-form">
          <input type="text" placeholder="First Name" name="first_name" required/>
          <br>
          <input type="text" placeholder="Last Name" name="last_name" required/>
          </div>
          <label>PW:</label>
          <input type="number" name="pw" required />
          <br>
          <input class="button" type="submit" value="submit" />
          <br>
        </form>
      </div>
      <!-- COLUMN RIGHT -->
      <div>
        <button type="button" onclick="window.location.href='{{ url_for('total') }}';">
          <b>Total</b>
        </button>
        <br>
        <button type="button" onclick="window.location.href='{{ url_for('months') }}';">
          <b>Months</b>
        </button>
      </div>
    </div>
    <!-- ALERT -->
    <div id="hideMe" class="alert">
      <h1>
        {{ msg }}
      </h1>
    </div>
    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
