<!doctype html>
<html>
  <head>
    <title>monies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
      <div class="grid-container">
        <div class="item1">
          <table>
             <thead>
                <td>Date</td>
                <td>Wages</td>
                <td>No. of bags</td>
             </thead>

             {% for row in rows %}
                <tr>
                   <td>{{ row["date"] }}</td>
                   <td>{{ row["wage"] }}</td>
		   <td>{{ (row["bags"]|string).rstrip('.0') }}</td>
                </tr>
             {% endfor %}
          </table>
        </div>
        <div class="item2">
          <h1>Caddy Stats</h1>
          <a href="{{ url_for('months') }}">
            <button type="button">
              <b>Months</b>
            </button>
          </a>
          <a href="{{ url_for('total') }}">
            <button type="button">
              <b>Total</b>
            </button>
          </a>
        </div>
        <div class="item3">
          <form action = "{{ url_for('home') }}" method = "POST">
           <b>Loop Information</b>
             <br>
             Wage:
             <br>
             <input type = "number" name = "wage" required />
             <br>
             Bags
             <br>
             <input type = "number" step = "0.5" name = "bags" required />
             <br>
             PW
             <br>
             <input type = "number" name = "pw" required />
             <br>

             <input type = "submit" value = "submit" /><br>
          </form>
        </div>  
        <div class="item4">Total Bags</div>
        <div class="item5">Total Wages</div>
        <div class="item6">Avg. Bag Fee</div>
	<div class="item7"><b>{{ (tot_bags|string).rstrip('.0') }}</b></div>  
	<div class="item8"><b>{{ tot_wages }}</b></div>  
	<div class="item9"><b>{{ avg_wage  }}</b></div>  
      </div>
        <div id="hideMe" class="alert">
          <h1>
            {{ msg }}
          </h1>
        </div>  

  </body>
</html>
