<!doctype html>
<html>
  <head>
    {% block head %}
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/hide_flash.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>
    <title>{% block title %}Looper{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="bg-zinc-200">{% block content %}{% endblock %}</div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div id="hideMe" class="fixed h-48 bottom-0 w-full bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div class="w-full text-center">
                <p class="font-bold text-8xl">{{ message }}</p>
                <!-- <p class="text-sm">Make sure you know how these changes affect you.</p> -->
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block scripts %} {% endblock %}
  </body>
</html>
