<!doctype html>
<html>
  <head>
    <title>months</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/css">
    </script>
  </head>
  <body>
    <div class="grid-container">
      {% for row in rows %}
      <div class="">
        <table>
          <tr>
            <td colspan="3">
              <a href="{{ url_for('month_detail', year=row['Year'], month=row['Month']) }}">
              <h3>
                {{ months[row["Month"]] }}
              </h3>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <b>Wages</b>
            </td>
            <td>
              <b>Bags</b>
            </td>
            <td>
              <b>Days</b>
            </td>
          </tr>
          <tr>
            <td>{{ row["wages"] | round | int }}</td>
            <td>
              {% if row["bags"] % 1 == 0 %}
              {{ row["bags"] | int }}
              {% else %}
              {{ row["bags"] }}
              {% endif %}
            </td>
            <td>{{ row["days"] }}</td>
          </tr>
        </table>
      </div>
      {% endfor %}
    </div>
    <a href="{{ url_for('home') }}">
      <button type="button">
        <b>Home</b>
      </button>
    </a>
  </body>
</html>
