<!doctype html>
<html>
  <head>
    <title>monies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="grid-container">
      <div class="item1">
        <a href="{{ url_for('home') }}">
          <button type="button">
            <b>Home</b>
          </button>
        </a>
      </div>
      <div class="item1">
        <table>
           <thead>
              <td>No.</td>
              <td>Date</td>
              <td>Wages</td>
              <td>No. of bags</td>
           </thead>

           {% for row in rows %}
              <tr>
                 <td>{{ row["id"] }}</td>
                 <td>{{ row["date"] }}</td>
                 <td>{{ row["wage"] | round | int }}</td>
                 <td>{{ (row["bags"]|string).rstrip('.0') }}</td>
								 <td>
									<a href="{{ url_for('edit', num=row["id"]) }}">edit</a>
								</td>
								 <td>
										<form action = "{{ url_for('delete', num=row["id"]) }}" method = "POST">
											 <input class="danger" onclick="return confirm('are you sure?')" type = "submit" value = "X" /><br>
										</form>

								</td>
              </tr>
           {% endfor %}
        </table>
      </div>
      <div class="bottom">
        <a href="{{ url_for('home') }}">
          <button type="button">
            <b>Home</b>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
