{% extends "layout.html" %}
{% block content %}
<div class="">
  <table>
    <thead>
      <td>No.</td>
      <td>Date</td>
      <td>Wages</td>
      <td>No. of bags</td>
    </thead>

    {% for row in rows %}
    <tr>
      <td>{{ row["id"] }}</td>
      <td>{{ row.date.strftime("%d-%d-%Y") }}</td>
      <td>{{ row.date.strftime("%A") }}</td>
      <td>{{ row["wage"] | round | int }}</td>
      <td>{{ (row["bags"]|string).rstrip('.0') }}</td>
      <td>
        <a href="{{ url_for('edit', num=row["id"]) }}">edit</a>
      </td>
      <td>
        <form action = "{{ url_for('delete', num=row["id"]) }}" method = "POST">
          <input class="danger" onclick="return confirm('are you sure?')" type = "submit" value = "X" /><br>
        </form>

      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
